@import "../../styles/commonStyle.scss";
@import "../../styles/styleData.scss";
.navbar-wrapper {
  width: 100%;
  height: 2.8rem;
  position: relative;
  .navbar-menu {
    width: 100%;
    height: 100%;
    background-color: $black;
    @include CommonPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
//     z-index: 999;
    .company-name {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 2px;
      h2 {
        font-size: 1.2rem;
        color: $white;
        font-weight: 600;
        span {
          color: $navlogo;
        }
      }
    }
    .hamburger {
      width: 26px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      span {
        width: 26px;
        height: 3px;
        background-color: #fff;
        margin: 3px;
      }
    }
  }
  .navbar-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.8rem;
    background-color: #000;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    @include CommonPadding;
    .navbar-contact-container{
         width: 300px;
         height: 100px;
         display: flex;
         justify-content: space-between;
         .navbar-social , .navbar-contact{
          //     background-color:green;
              width: 45%;
              h3{
                   color: $lightWhite;
                   text-align: right;
                   @include navbarText;
                   opacity: 0;
                   div{
                        margin-bottom: .4rem;
                        cursor: pointer;
                   }
              }
         }
    }
    .navbar-developer{
         width: 300px;
         height: 100px;
         display: flex;
         align-items: flex-end;
         padding-bottom: 2rem;
         h3{
              color: $lightWhite;
              @include navbarText;
              opacity: 0;
          //     opacity: 0;
              span{
                   font-weight: 600;
              }
         }
    }
  }
}
