@import "../../styles/commonStyle.scss";
@import "../../styles/styleData.scss";
.navbar-wrapper {
  width: 100%;
  height: 5rem;
  position: relative;
  .navbar-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EEEEF0;
    @include CommonPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    border-bottom: 1px solid rgba(65, 65, 65, 0.76);
    .company-name {
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 2px;
      h2 {
        font-size: 1.2rem;
        color: $black;
        font-weight: 600;
        span {
          color: $navlogo;
        }
        @media (max-width: $bigPhone) {
          font-size: 1rem;
        }
      }
    }
    .hamburger {
      width: 34px;
      height: 100%;
      cursor: pointer;
      position: relative;
      &:hover  > .top-line{
        transform: translateX(6px);
      }
      &:hover  > .bottom-line{
        transform: translateX(-6px);
      }
      div {
        position: absolute;
        right: 0;
        width: 34px;
        height: 2px;
        background-color: $black;
        margin: 3px;
        border-radius: 10px;
        transition: transform .3s;
        @media (max-width: $bigPhone) {
          width: 22px;
          height: 2px;
        }
      }
      .bottom-line{
        top: 55%;
      }
      .top-line{
        top: 45%;
      }
    }
  }
  .navbar-slider, .navbar-slider2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.8rem;
    background-color: #EEEEF0;
    // z-index: -1;
    @media (max-width: $bigPhone) {
      flex-direction: column-reverse;
    }
    @include CommonPadding;
    .navbar-contact-container {
      width: 300px;
      height: 100px;
      display: flex;
      justify-content: space-between;
      .navbar-social,
      .navbar-contact {
        //     background-color:green;
        width: 45%;
        height: 2rem;
        display: none;
        h3 {
          color: $black;
          text-align: right;
          @include navbarText;
          opacity: 0;
          div {
            margin-bottom: 0.4rem;
            cursor: pointer;
            position: relative;
            height: 1.5rem;
          }
        }
      }
      @media (max-width: $bigPhone) {
        width: 100%;
      }
    }
  }
}
.navbar-slider2{
  z-index: -5;
  background-color: #ac9689d2 !important;
}